#start-btn
{
    width: 40%;
    color: rgb(152, 171, 255);
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid rgb(201, 174, 206);
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body{background-color: lightblue;}